* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


/*main {
    flex: 1 0 auto;
  }*/


/*Material Icons*/

.material-icons {
    display: inline-flex;
    vertical-align: top;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}


/*#toast-container .toast {
    cursor: pointer;
}

#toast-container .toast::after {
    font-family: 'Material Icons';
    content: "close";
    -webkit-font-feature-settings: 'liga';
    color: #dd2c00;
    font-size: 1.3rem;
    font-weight: 300;
    float: right;
    padding-left: 3rem;
    padding-right: -200px;
    width: inherit;
}*/

#sidenav-overlay {
    z-index: 1;
}

.bold {
    font-size: 1.8rem;
    font-weight: 900;
}

.header-top {
    height: 180px;
    padding-top: 50px;
    background: #fffff;
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.Main_title {
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    font-weight: 400;
    top: 50%;
    left: 50%;
    margin-bottom: 0px;
}

.Main_sub_title {
    font-size: 25px;
    margin-top: 2px;
    font-weight: 200;
    text-align: center;
    top: 50%;
    left: 50%;
}

.Nav-menu-links {
    text-transform: uppercase;
}

.dropdown-content li>a {
    text-transform: uppercase;
}

.side-nav li>a {
    text-transform: uppercase;
    padding: 0 18px;
}

#Home-slider {
    z-index: 100;
}

#clockDic {
    z-index: 300;
}


.side-nav .userView {
    padding: 20px 20px 20px 0 !Important;


/*.clockDiv-wrapper {
  position: absolute;
  height: calc(100vh);
  margin-top: 104px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 997;
  top: 50%;
  left: 50%;
  width: 100%;
}
.buttons-wrapper a {
  pointer-events: auto;
}
.mg-rg {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}*/


/*.clockDiv-wrapper {
  position: absolute;
  margin-top: 544px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1998;
  top: 0;
  left: 35%;
}

.buttons-wrapper a {
  pointer-events: auto;
}
*/


/*@media screen and (min-width: 500px) {
   body {
      width:420px;
   }
}

@media screen and (min-width: 800px) {
   body {
      width:720px;
   }
}*/


/* TABLET LAYOUT
----------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) {}


/* GO TO ONE COLUMN LAYOUT
----------------------------------------------- */

@media screen and (max-width: 750px) {}


/* MOBILE LAYOUT (PORTRAIT/320PX)
----------------------------------------------- */

@media only screen and (max-width: 767px) {}


/* WIDE MOBILE LAYOUT (LANDSCAPE/480PX)
----------------------------------------------- */

@media only screen and (min-width: 480px) and (max-width: 767px) {}