* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
}


/*Material Icons*/

.material-icons {
    display: inline-flex;
    vertical-align: top;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}


/*#toast-container .toast {
    cursor: pointer;
}

#toast-container .toast::after {
    font-family: 'Material Icons';
    content: "close";
    -webkit-font-feature-settings: 'liga';
    color: #dd2c00;
    font-size: 1.3rem;
    font-weight: 300;
    float: right;
    padding-left: 3rem;
    padding-right: -200px;
    width: inherit;
}*/

#sidenav-overlay {
    z-index: 1;
}