* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


/*main {
    flex: 1 0 auto;
  }*/

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #ffffff;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}


/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}


/*Material Icons*/

.material-icons {
  display: inline-flex;
  vertical-align: top;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}


/*#toast-container .toast {
    cursor: pointer;
}

#toast-container .toast::after {
    font-family: 'Material Icons';
    content: "close";
    -webkit-font-feature-settings: 'liga';
    color: #dd2c00;
    font-size: 1.3rem;
    font-weight: 300;
    float: right;
    padding-left: 3rem;
    padding-right: -200px;
    width: inherit;
}*/

#sidenav-overlay {
  z-index: 1;
}

.bold {
  font-size: 1.8rem;
  font-weight: 900;
}

.header-top {
  padding: 10px;
  margin: 0 auto;
  background-image: url(../assets/images/one.jpg);
}

.header-top .row {
  margin: 0 auto;
  display: block;
}

.colorful-bg {
  background-repeat: no-repeat;
  background-image: url(../images/color-bg-left-bottom.png), url(../images/color-bg-right-bottom.png), url(../images/color-bg-right-top.png);
  background-position: 0 100%, 100% 100%, 100% 0;
}

.header-top #div1 {
  display: block;
  margin: 0 auto;
  height: inherit;
}

.header-top #div2 {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.header-top #div3 {
  display: block;
  margin: 0 auto;
  height: inherit;
}

.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}

.noscrollbar {
  line-height: 1.35;
  overflow: hidden;
  white-space: nowrap;
}

.Main_title {
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
  font-weight: 400;
  top: 50%;
  left: 50%;
  margin-bottom: 0px;
}

.Main_sub_title {
  font-size: 25px;
  margin-top: 2px;
  font-weight: 200;
  text-align: center;
  top: 50%;
  left: 50%;
}

.Nav-menu-links {
  text-transform: uppercase;
}

.dropdown-content li>a {
  text-transform: uppercase;
}

.side-nav li>a {
  text-transform: uppercase;
  padding: 0 18px;
}

#Home-slider {
  z-index: 100;
}

#clockDiv {
  z-index: 300;
}

nav.nav-center ul {
  text-align: center;
}

nav.nav-center ul li {
  display: inline;
  float: none;
}

nav.nav-center ul li a {
  display: inline-block;
}

.side-nav .userView {
  padding: 20px 20px 20px 0 !Important;
}

.dropdown-content {
  overflow-y: visible;
}

.dropdown-content .dropdown-content {
  margin-left: 100%;
}

.blog-heading {
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
}

#background {
  background: #000000;
  background-image: linear-gradient(to bottom right, #002f4b, rgba(0, 0, 0, .8));
}

#background img {
  opacity: 0.5;
}

#blog-image img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#blog-image img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.my-card {
  margin: 40px auto;
  height: 450px;
  max-width: 375px;
  width: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-size: 140%;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.image-1 {
  background-image: url("../../assets/images/rt.jpg");
}

.image-2 {
  background-image: url("../../assets/images/rt.jpg");
}

.image-3 {
  background-image: url("../../assets/images/rtt.jpg");
}

.my-card:hover .overlay {
  bottom: -25%;
}

.my-card h4 {
  font-size: 2.2rem;
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
  text-align: left;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 80px;
  color: rgba(0, 0, 0, 0.9);
  font-family: Roboto Slab;
  margin-top: 8%;
  font-weight: 200;
  line-height: 1;
}

.my-card p {
  font-family: "Roboto Slab", serif;
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
  color: rgba(0, 0, 0, 0.8);
  width: 80%;
  padding: 30px;
  padding-right: 100px;
  margin: 0 auto;
  margin-top: 15px;
  text-align: justify;
  margin-left: 20px;
  font-weight: 500;
  font-size: 1rem;
}

.overlay {
  position: absolute;
  left: -10%;
  bottom: -40%;
  display: block;
  background: white;
  height: 400px;
  width: 500px;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  border-radius: 10px;
  text-align: center;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.my-card .button {
  color: #E80000;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 900;
  -webkit-transform: rotate(3deg) translateX(-70%);
  transform: rotate(3deg) translateX(-70%);
  position: absolute;
  bottom: 35%;
  left: 50%;
}

#map {
  width: 100%;
  height: 440px;
  margin: 0 auto;
  padding: 0px;
}

.wrp {
  /*text-align: center;*/
  height: 100%;
  width: 100%;
}

.wrp::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.icon {
  display: inline-block;
  font-size: 30px;
  line-height: 10px;
  height: 15px;
  width: 15px;
  margin-right: 20px;
  color: #4099ff;
  border-radius: 100%;
  position: relative;
}

.icon::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.icon::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  transform: scale(0);
  background: #4099ff;
  border-radius: 100%;
  z-index: -1;
}

.icon:hover {
  animation-name: bubble2;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

.icon:hover::after {
  animation-name: bubble;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.icon-twitter {
  color: #4099ff;
}

.icon-twitter::after {
  background: #4099ff;
}

.icon-facebook {
  color: #3b5998;
}

.icon-facebook::after {
  background: #3b5998;
}

.icon-instagram {
  color: #3f729b;
}

.icon-instagram::after {
  background: #3f729b;
}

.icon-gplus {
  color: #dc4e41;
}

.icon-gplus::after {
  background: #dc4e41;
}

@-moz-keyframes bubble {
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes bubble {
  100% {
    transform: scale(1);
  }
}

@-o-keyframes bubble {
  100% {
    transform: scale(1);
  }
}

@keyframes bubble {
  100% {
    transform: scale(1);
  }
}

@-moz-keyframes bubble2 {
  100% {
    color: #fff;
  }
}

@-webkit-keyframes bubble2 {
  100% {
    color: #fff;
  }
}

@-o-keyframes bubble2 {
  100% {
    color: #fff;
  }
}

@keyframes bubble2 {
  100% {
    color: #fff;
  }
}

.clockDiv-wrapper {
  display: block;
  margin: 0 auto;
  margin-top: -90px;
  z-index: 3;
}


/*.buttons-wrapper a {
  pointer-events: auto;
}
.mg-rg {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}*/


/*.clockDiv-wrapper {
  position: absolute;
  margin-top: 544px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  top: 0;
  left: 35%;
}

.buttons-wrapper a {
  pointer-events: auto;
}*/


/*@media screen and (min-width: 500px) {
   body {
      width:420px;
   }
}

@media screen and (min-width: 800px) {
   body {
      width:720px;
   }
}*/


/* TABLET LAYOUT
----------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) {}


/* GO TO ONE COLUMN LAYOUT
----------------------------------------------- */

@media screen and (max-width: 750px) {}


/* MOBILE LAYOUT (PORTRAIT/320PX)
----------------------------------------------- */

@media only screen and (max-width: 767px) {}


/* WIDE MOBILE LAYOUT (LANDSCAPE/480PX)
----------------------------------------------- */

@media only screen and (min-width: 480px) and (max-width: 767px) {}


/*
 * =====================
 * Important Dates page
 * =====================
 */

#important-dates .timeline {
  position: relative;
}

#important-dates .timeline .timeline-event {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

#important-dates .timeline .timeline-event .timeline-content {
  position: relative;
  width: calc(50% - 50px);
}

#important-dates .timeline .timeline-event::before {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: 0;
}

#important-dates .timeline .timeline-event::after {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: calc(50% + 30px);
}

#important-dates .timeline .timeline-event:first-child::before {
  display: none;
}

#important-dates .timeline .timeline-event:last-child::after {
  display: none;
}

#important-dates .timeline .timeline-event:nth-child(even) .timeline-content {
  margin-left: calc(50% + 50px);
}

#important-dates .timeline .timeline-event:nth-child(odd) .timeline-content {
  margin-left: 0;
}

#important-dates .timeline .timeline-badge {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: #d2d2d2;
  top: calc(50% - 20px);
  right: calc(50% - 20px);
  border-radius: 50%;
  text-align: center;
  cursor: default;
}

#important-dates .timeline .timeline-badge i {
  font-size: 25px;
  line-height: 40px;
}

@media (max-width: 600px) {
  #important-dates .timeline .timeline-event .timeline-content {
    width: calc(100% - 70px);
  }
  #important-dates .timeline .timeline-event::before {
    left: 19px;
  }
  #important-dates .timeline .timeline-event::after {
    left: 19px;
  }
  #important-dates .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: 70px;
  }
  #important-dates .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 70px;
  }
  #important-dates .timeline .timeline-badge {
    left: 0;
  }
}

#page-not-found #animation {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: auto;
  align: middle;
  opacity: 1.0;
}

#page-not-found div {
  font-size: 0;
}


/*
 * ========================
 * General Chair page
 * ========================
 */

#general-chair main {
  flex: 1 0 auto;
}

#general-chair .image-card {
  display: block;
  margin: 0 auto;
  height: 150px;
  width: 150px;
}


/*#general-chair .content{

}
#general-chair .content .heading{

}*/


/*
 * =============================
 * Other Organizing Commitee page
 * =============================
 */

#other-organizing-commitee main {
  flex: 1 0 auto;
}

#other-organizing-commitee .heading {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}

#other-organizing-commitee #table-content td {
  text-align: left;
}


/*
 * =============================
 * National Advisory Committee page
 * =============================
 */

#national-advisory-committee main {
  flex: 1 0 auto;
}

#national-advisory-committee .heading {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}

#national-advisory-committee .card-panel {
  display: block;
  margin: 0 auto;
}

#national-advisory-committee .collection-item {
  cursor: default;
  font-size: 18px;
  font-weight: 300;
  color: black;
  border: none;
}


/*
 * =============================
 * International Advisory Committee page
 * =============================
 */

#international-advisory-committee main {
  flex: 1 0 auto;
}

#international-advisory-committee .heading {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}

#international-advisory-committee .card-panel {
  display: block;
  margin: 0 auto;
}

#international-advisory-committee .collection-item {
  cursor: default;
  font-size: 18px;
  font-weight: 300;
  color: black;
  border: none;
}


/*
 * =============================
 * Student Volunteers page
 * =============================
 */

#student-volunteers main {
  flex: 1 0 auto;
}

#student-volunteers .heading {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}

.card-small {
  width: 400px;
}

#blog-post-full .blog-post-full-cat {
  padding: 5px;
  margin: 25px;
  right: 0;
  left: inherit;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase
}

#blog-post-full .blog-post-full-cat a {
  color: #fff;
  text-shadow: none
}


/*
 * ========================
 * Sponsor page
 * ========================
 */

#sponsor-page .sponsor-1 {
  padding: 15px 15px 15px 15px;
  \ display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

#sponsor-page main {
  flex: 1 0 auto;
}

#sponsor-page .container {
  margin-top: 30px;
}

#sponsor-page .sponsor-title {
  font-weight: 200;
  font-size: 20px;
  justify-content: center;
  text-align: left;
}

#sponsor-page .image-center {
  display: block;
  margin: auto;
  height: 170px;
}

#sponsor-page h4 {
  font-weight: 300;
  font-size: 1.4em;
}


/*
 * ========================
 * Accomodation page
 * ========================
 */

#accomodation-page main {
  flex: 1 0 auto;
}

#accomodation-page .accomodation-title {
  text-align: center;
  font-weight: 300;
  font-size: 35px;
}

#accomodation-page .accomodation-content {
  font-size: 25px;
  text-align: center;
}

#accomodation-page svg {
  margin-top: 100px;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*
 * ========================
 * Call for paper page
 * ========================
 */

#call-for-paper-page main {
  flex: 1 0 auto;
}

#call-for-paper-page .container {
  justify-content: center;
  margin-top: 30px;
}

#call-for-paper-page .title {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

#call-for-paper-page .header {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}

#call-for-paper-page .collection-header {
  color: #fff;
  background-color: #009688;
}

#call-for-paper-page .collection-item {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

#call-for-paper-page .collection-item:hover {
  color: #fff;
  background-color: #009688;
  cursor: default;
}


/*
 * ========================
 * Paper Submission page
 * ========================
 */

#paper-submission-page main {
  flex: 1 0 auto;
}

#paper-submission-page .card-panel {
  font-size: 18px;
  text-align: justify;
}

#paper-submission-page .heading {
  font-size: 35px;
  text-align: center;
  font-weight: 300;
}


/*
 * =============================
 * Camera Ready Submission page
 * =============================
 */

#camera-ready-submission-page main {
  flex: 1 0 auto;
}

#camera-ready-submission-page .card-panel {
  font-size: 18px;
  text-align: justify;
}

#camera-ready-submission-page .heading {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}


/*
 * =============================
 * Online Registrations page
 * =============================
 */

#online-registrations-page main {
  flex: 1 0 auto;
}

#online-registrations-page .heading {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}

#online-registrations-page .input-field div.error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #F44336;
  -webkit-tr ansform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

#online-registrations-page .input-field label.active {
  width: 100%;
}

#online-registrations-page .left-alert input[type=text]+label:after, #online-registrations-page .left-alert input[type=password]+label:after, #online-registrations-page .left-alert input[type=email]+label:after, #online-registrations-page .left-alert input[type=url]+label:after, #online-registrations-page .left-alert input[type=time]+label:after, #online-registrations-page .left-alert input[type=date]+label:after, #online-registrations-page .left-alert input[type=datetime-local]+label:after, #online-registrations-page .left-alert input[type=tel]+label:after, #online-registrations-page .left-alert input[type=number]+label:after, #online-registrations-page .left-alert input[type=search]+label:after, #online-registrations-page .left-alert textarea.materialize-textarea+label:after {
  left: 0px;
}

#online-registrations-page select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 4px 0;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid;
}


/*
 * =============================
 * Special Journal issue page
 * =============================
 */

#special-journal-issue-page main {
  flex: 1 0 auto;
}

#special-journal-issue-page .heading {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}


/*
 * =============================
 * Special Journal issue page
 * =============================
 */

#conference-proceedings-page main {
  flex: 1 0 auto;
}

#conference-proceedings-page .heading {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}

#conference-proceedings-page .image-fix {
  height: 100px;
  margin: 0 auto;
  display: block;
}

#conference-proceedings-page .image-caption {
  font-size: 20px;
  font-weight: 300;
}


/*
 * =============================
 * Nearby Tourist Attraction page
 * =============================
 */

#nearby-tourist-page main {
  flex: 1 0 auto;
}

#nearby-tourist-page .heading {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}

#nearby-tourist-page .card .card-image img {
  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
}


/*
 * =============================
 * Registartion page
 * =============================
 */

#registration-page main {
  flex: 1 0 auto;
}

#registration-page .heading {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}

#registration-page table {
  font-size: 1.1em;
}

#registration-page th {
  font-size: 1.3em;
}

#registration-page .note-text {
  text-align: justify;
  /*font-weight: 400;*/
  font-style: italic;
  /*font-size: 1em;*/
}


/*
 * =============================
 * Awards page
 * =============================
 */

#awards main {
  flex: 1 0 auto;
}

#awards .heading {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}

marquee {
  height: 50px;
  padding: 10px;
  overflow: hidden;
  margin: 0 auto;
}

.chip {
  color: #fff;
  background-color: teal;
}

.chip-cards {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
  margin-bottom: 5px;
  margin-right: 5px;
  text-align: center;
  align-items: center;
}